:root{
    /* CSS HEX */
    --black-text: #2E282A;
    --light-background: #EBF3FE;
    --main-header: #3B28CC;
    --light-header: #87BFFF;
    --slate-gray: #6b717eff;
    --nadeshiko-pink: #efaac4ff;
    --pink: #ffc4d1ff;
    --misty-rose: #ffe8e1ff;
    --alabaster: #d4dccdff;
  }
  
  
  *{
    font-family: 'Koh Santepheap', cursive;
  }
  
  #body-header-wrapper{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #body-header{
    font-weight: bold;
  
  }
  
  #body-subheader{
    font-weight: lighter;
    font-size: 15px;
  }
  
  .carousel-item{
    height: 500px;
    border-radius: 10px;
  
  }
  
  tr > th{
    background-color: var(--light-header);
  }
  
  table{
      padding: 10px;
      border: black solid 2px;
      margin: 5px;
      border-radius: 10px;
  }
  
  video{
    margin-left: 20px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 5px;
  }
  
  h2:not(#body-header){
    background: var(--light-header);
    padding: 5px;
  }
  
  nav{
    background-color: var(--main-header);
  }
  
  .nav-text{
    color: black !important;
  }
  